<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="demo.Properties.Settings.ShoesShopConnectionString"
            connectionString="Data Source=DESKTOP-JKPMEMA\SQLEXPRESS;Initial Catalog=ShoesShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_LanguageService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.microsofttranslator.com/V1/soap.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService"
                contract="TranslateService.LanguageService" name="BasicHttpBinding_LanguageService" />
            <endpoint address="http://api.microsofttranslator.com/V1/soap.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService"
                contract="TranslateService.LanguageService" name="BasicHttpBinding_LanguageService1" />
        </client>
    </system.serviceModel>
</configuration>